pre.bbs {font-family:mingliu, monospace; line-height:1em; color:silver; background-color:black;}

.bbs a        {text-decoration:none; color:inherit;}
.bbs a:hover  {color: #ddd; background-color: #666;}
.bbs a.http   {border-bottom:1px solid #ff6600;}
.bbs a.telnet {border-bottom:1px solid AQUA;}
.bbs a.ftp    {border-bottom:1px solid LIME;}

.bbs .italic {font-style:italic;}
.bbs .blink  {text-decoration:blink;}
.bbs .hidden {visibility:hidden;}

.bbs .fg030{color:BLACK;} .bbs .fg031{color:MAROON;} .bbs .fg032{color:GREEN;}
.bbs .fg033{color:OLIVE;} .bbs .fg034{color:NAVY;}   .bbs .fg035{color:PURPLE;}
.bbs .fg036{color:TEAL;}  .bbs .fg037{color:SILVER;}

.bbs .fg130{color:GRAY;}   .bbs .fg131{color:RED;}   .bbs .fg132{color:LIME;}
.bbs .fg133{color:YELLOW;} .bbs .fg134{color:BLUE;}  .bbs .fg135{color:FUCHSIA;}
.bbs .fg136{color:AQUA;}   .bbs .fg137{color:WHITE;}

.bbs .bg40{background-color:BLACK;} .bbs .bg41{background-color:MAROON;}
.bbs .bg42{background-color:GREEN;} .bbs .bg43{background-color:OLIVE;}
.bbs .bg44{background-color:NAVY;}  .bbs .bg45{background-color:PURPLE;}
.bbs .bg46{background-color:TEAL;}  .bbs .bg47{background-color:SILVER;}